/*
 * Geocoders CSS
 * CS247 - Winter 2012
 */

* {
  margin: 0;
  padding: 0;
}
body {
  background: url('http://subtlepatterns.com/patterns/tasky_pattern.png');
  color: #333;
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  min-height: 740px;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
}
body input,
body button {
  font-size: 15px;
  margin-top: 8px;
}
#impress { pointer-events: auto; }

/* Helper Classes */
.hidden {
  display: none;
}

/* App Steps */
.step {
  width: 1440px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;
  box-sizing:         border-box;

  font-family: 'PT Serif', georgia, serif;

  font-size: 48px;
  line-height: 1.5;
  text-align: center;
}
.step {
    /* fade out inactive slides */
  -webkit-transition: opacity 1s;
  -moz-transition:    opacity 1s;
  -ms-transition:     opacity 1s;
  -o-transition:      opacity 1s;
  transition:         opacity 1s;
}
.step:not(.active) {
  opacity: 0.0;
}

/* AppView */
.appView {
  background: white;
  background: white;
  background-image: linear-gradient(bottom, rgb(232,232,232) 0%, rgb(248,248,248) 100%);
  background-image: -o-linear-gradient(bottom, rgb(232,232,232) 0%, rgb(248,248,248) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(232,232,232) 0%, rgb(248,248,248) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(232,232,232) 0%, rgb(248,248,248) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(232,232,232) 0%, rgb(248,248,248) 100%);
  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0, rgb(232,232,232)),
  	color-stop(1, rgb(248,248,248))
  );
  border-top: 10px solid #00baff;
  box-shadow: 0 3px 5px black, inset 0 1px 0 white;
  -webkit-box-shadow: 0 3px 5px black, inset 0 1px 0 white;
  -moz-box-shadow: 0 3px 5px black, inset 0 1px 0 white;
  display: block;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 30px;
  height: 800px;
  line-height: 36px;
  overflow: hidden;
  width: 1440px;
}
.appView .appCenteredMessage {
  /*background: white;*/
  bottom: 0;
  left: 0;
  padding-top: 200px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
}
.appView .appCenteredMessage img {
  margin-bottom: 20px;
}
.appView h1 {
  color: #333;
  display: block;
  line-height: 1.3;
  text-align: center;
  text-shadow: 0 1px 0 white;
}
.appView h1.location {
  color: #333;
}
.appView h2 {
  color: #a0a5aa;
  display: block;
  font-weight: 100;
  line-height: 1.3;
  text-align: center;
  text-shadow: 0 1px 0 white;
  text-transform: uppercase;
}

#AppView_Earth {
  background: none;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#earth {
  float: left;
  height: 690px;
  margin-right: 8px;
  width: 1076px;
}
#map {
  float: left;
  height: 690px;
  width: 356px;
}
#route-details {
  bottom: 0;
  height: 105px;
  left: 0;
  list-style: none;
  position: absolute;
  right: 0;
  text-align: left;
  width: 1000000px;
  z-index: 101; /* just above Google Earth Terms of Use div */
}
#route-details li {
  height: 105px;
  left: 0;
  list-style: none;
  /*padding: 0 50px;*/
  position: absolute;
  width: 1440px;
}
#route-details li .dirStepContent {
  background: white;
  background-image: linear-gradient(bottom, rgb(232,232,232) 0%, rgb(248,248,248) 100%);
  background-image: -o-linear-gradient(bottom, rgb(232,232,232) 0%, rgb(248,248,248) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(232,232,232) 0%, rgb(248,248,248) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(232,232,232) 0%, rgb(248,248,248) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(232,232,232) 0%, rgb(248,248,248) 100%);
  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0, rgb(232,232,232)),
  	color-stop(1, rgb(248,248,248))
  );
  border-top: 5px solid #00baff;
  box-shadow: 0 -2px 10px black, inset 0 1px 0 white;
  -webkit-box-shadow: 0 -2px 10px black, inset 0 1px 0 white;
  -moz-box-shadow: 0 -2px 10px black, inset 0 1px 0 white;
  display: table;
  font-size: 30px;
  height: 105px;
  text-shadow: 0 1px 0 white;
  width: 1440px;
}
#route-details.onTop {
  bottom: auto;
  top: 0;
}
#route-details.onTop li {
  bottom: auto;
  top: -41px;
}
#route-details.onTop li .dirStepContent {
  border-bottom: 5px solid #00baff;
  border-top: none;
  box-shadow: 0 2px 10px black, inset 0 -1px 0 white; 
  -webkit-box-shadow: 0 2px 10px black, inset 0 -1px 0 white; 
  -moz-box-shadow: 0 2px 10px black, inset 0 -1px 0 white; 
}
#route-details li .dirStepContent .description {
  display: table-cell;
  padding: 15px 15px 15px 30px;
  vertical-align: middle
}
#route-details li .dirStepContent .distance {
  color: #00baff;
  display: table-cell;
  font-weight: bold;
  padding: 15px 30px 15px 15px;
  text-align: right;
  vertical-align: middle;
}

/* Gesture Tips */
#gesture-tips {
  background: url('../images/overlay-bg.png') repeat;
  bottom: 0;
  left: 0;
  padding-top: 80px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 2;
}
#gesture-tips .title {
  background: white;
  background-image: -webkit-linear-gradient(bottom, rgb(232,232,232) 0%, rgb(248,248,248) 100%);
  border: 5px solid #00baff;
  box-shadow: 0 -2px 10px black, inset 0 1px 0 white;
  color: #333;
  display: inline-block;
  font-size: 45px;
  font-weight: bold;
  margin: 50px 300px 0;
  padding: 30px;
  text-shadow: 0 1px 0 white;
  width: 526px;
}
#gesture-tips .tip {
  background: black;
  border: 1px solid #333;
  border-radius: 0;
  box-shadow: 0 0 10px black;
  color: white;
  float: left;
  font-weight: bold;
  font-size: 45px;
  margin: 0 21px;
  padding: 30px;
  text-align: center;
  text-shadow: 0 2px 5px black;
}
#gesture-tips .tip.left,
#gesture-tips .tip.right {
  min-height: 422px;
  width: 291px;
}
#gesture-tips .tip .label {
  line-height: 1.2;
  margin-top: 20px;
}

/* Gesture Feedback (Earth View) */
#gesture-feedback {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
#gesture-feedback > div {
  background: url('../images/overlay-bg.png');
  border: 1px solid black;
  box-shadow: 0 0 10px black, inset -1px -1px 0px #333, inset 1px -1px 0px #333;
  color: white;
  display: none;
  font-weight: bold;
  padding: 20px;
}
#gesture-feedback > div img {
  height: 200px;
}
#gesture-feedback > div .label {
  line-height: 1.2;
  margin-top: 10px;
}
#gesture-feedback > .left {
  border-bottom-right-radius: 15px;
  float: left;
}
#gesture-feedback > .right {
  border-bottom-left-radius: 15px;
  float: right;
}
#gesture-feedback > .center {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-left: -200px;
  position: absolute;
  top: 0;
  left: 50%;
  width: 400px;
}


/* Temporary */
#directions-form {
  margin-top: 250px;
}
#temp-shortcuts {
  background: black;
  border-right: 1px solid #444;
  border-bottom: 1px solid #444;
  box-shadow: 1px 1px 1px black;
  -webkit-box-shadow: 1px 1px 1px black;
  -moz-box-shadow: 1px 1px 1px black;
  color: white;
  display: none;
  font-size: 13px;
  font-weight: bold;
  left: 0;
  line-height: 1.2;
  opacity: 0.75;
  padding: 10px;
  position: absolute;
  text-shadow: 0 1px 1px black;
  top: 0;
  width: 200px;
  z-index: 2;
}

#route-details li .dirStepContent.urgent {
  background: yellow;
  color: black;
}
#route-details li .dirStepContent.urgent .distance span {
  display: none;
}
#route-details li .dirStepContent.urgent .distance .val {
  display: inline;
}
